---
import Layout from "@/layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
interface Props {
 entry: CollectionEntry<"posts">;
}

interface EntryProps {
 id: string;
 slug: string;
 collection: string;
}

export async function getStaticPaths() {
 const postEntries = await getCollection("posts");
 return postEntries.map((entry: EntryProps) => {
  return { params: { slug: entry.slug }, props: { entry } };
 });
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} lang="tr">
 <section class="py-10">
  <div class="container max-w-[800px]">
   <h1 class="text-4xl md:text-5xl">{entry.data.title}</h1>
   <Content />
  </div>
 </section>
</Layout>
