---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
interface Props {
	entry: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
	const blogEntries = await getCollection("blog");
	return blogEntries.map((entry: { slug: string }) => {
		return { params: { slug: entry.slug }, props: { entry } };
	});
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} lang="tr" description={entry.data.description}>
<meta property="article:author" content="Erkan Altınörs" slot="author"/>
<meta property="og:type" content="article" slot="page-type" />
 <section class="pb-10">
  <div class="container max-w-[600px]">
   <h1 class="text-4xl md:text-5xl mt-4">{entry.data.title}</h1>
   <p class="text-xl md:text-2xl text-gray-600 mb-8">{entry.data.description}</p>
   <div class="blog-wrapper">
       <Content />
   </div>
  </div>
 </section>
</Layout>
