---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
const { blok } = Astro.props;
const content = renderRichText(blok.content);
import "highlight.js/styles/atom-one-dark.css";
---

<script>
 import hljs from "highlight.js/lib/core";

 import css from "highlight.js/lib/languages/css";
 import javascript from "highlight.js/lib/languages/javascript";
 import html from "highlight.js/lib/languages/xml";

 hljs.registerLanguage("html", html);
 hljs.registerLanguage("javascript", javascript);
 hljs.registerLanguage("css", css);

 const codeSamples: NodeListOf<HTMLElement> = document.querySelectorAll("article code");
 codeSamples.forEach((el: HTMLElement) => {
  hljs.highlightElement(el);
 });
</script>

<main {...storyblokEditable(blok)}>
 <section class="py-12 md:py-10">
  <div class="container max-w-[800px]">
   <article>
    <h1 class="mb-6 text-3xl font-semibold sm:text-4xl md:text-6xl">{blok.title}</h1>
    <h2 class="mb-8 text-2xl text-gray-700 sm:text-3xl md:text-4xl">{blok.description}</h2>
    <Fragment set:html={content} />
   </article>
  </div>
 </section>
</main>
