---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
 version: import.meta.env.DEV ? "draft" : "published",
 content_type: "blogPost",
});

console.log(data);

const posts = data.stories.map((story: any) => {
 return {
  title: story.content.title,
  description: story.content.description,
  slug: story.full_slug,
  date: story.published_at
   ? new Date(story.published_at).toLocaleString("en", {
      day: "2-digit",
      month: "short",
      year: "numeric",
     })
   : null,
 };
});

const { blok } = Astro.props;
---

<section class="py-10" {...storyblokEditable(blok)}>
 <div class="container max-w-[800px]">
  <h2 class="mb-5 text-3xl md:text-5xl">Posts</h2>
 </div>
 <div class="container max-w-[800px]">
  <div class="grid grid-cols-1 gap-4">
   {
    posts.map((post: any) => (
     <div class="col-span-1">
      <a
       href={post.slug}
       class="group box-border block h-full w-full rounded-md p-2 transition hover:bg-slate-700 hover:text-white focus:outline-none"
      >
       <div class="flex justify-between">
        <div>
         <p class="mt-0 font-semibold">{post.title}</p>
         <p class="m-0  text-base">{post.description}</p>
        </div>
        <div>
         <p class=" m-0 rounded-sm px-2 group-hover:bg-gray-100 group-hover:text-black">{post.date}</p>
        </div>
       </div>
      </a>
     </div>
    ))
   }
  </div>
 </div>
</section>
