---
import { storyblokEditable, renderRichText } from '@storyblok/astro'
import Layout from '@/layouts/Layout.astro';

const { blok } = Astro.props
const content = renderRichText(blok.content)
---
  <main {...storyblokEditable(blok)}>
  <section class="py-10">
    <div class="container max-w-[700px]">
      <h1 class="text-5xl font-bold mb-3">{blok.title}</h1>
      <p class="text-3xl font-semibold text-gray-600">{blok.description}</p>
      <Fragment set:html={content} />
    </div>
  </section>
</main>