---
import { Icon } from "astro-icon/components";
---

<header class="fixed top-2 left-[10px] lg:top-1 lg:left-1 z-50">
  <nav class="group bg-gray-600 text-white ring-2 ring-black inline-block" role="navigation">
     <a href="/" class="block p-1 lg:p-4">
          <Icon name="ph:warehouse" size={42} class="hidden lg:block"/>
          <Icon name="ph:warehouse" size={32} class="lg:hidden"/>
     </a>
  </nav>
</header>
