---
import { Picture } from "astro:assets";
---

<header class="sticky top-1 z-50 mt-1">
 <div class="container max-w-[600px]">
  <nav class="group rounded-md bg-opacity-50 p-1 text-white backdrop-blur-sm backdrop-filter transition hover:bg-blue-700" role="navigation">
   <div class="flex gap-2 text-black group-hover:text-white">
    <div class="justfiy-center flex items-center rounded-sm p-1">
     <a href="/" class="text-inherit">
      <div class="flex gap-2">
       <div>
        <Picture src={"/android-chrome-512x512.png"} alt={"Erkan Altınörs"} width={24} height={24} />
       </div>
       <div>Erkan Altınörs</div>
      </div>
     </a>
    </div>
   </div>
  </nav>
 </div>
</header>
