---
import { Image } from "astro:assets";
---

<header class="sticky top-1 z-50 mt-1">
 <div class="container max-w-[600px]">
  <nav class="group rounded-sm bg-pink-900 p-1 text-white" role="navigation">
   <div class="flex gap-2">
    <div class="justfiy-center flex items-center rounded-sm p-1">
     <a href="/" class="text-inherit">
      <div class="flex gap-2">
       <div>
        <Image
          src='/android-chrome-512x512.png'
          width={24}
          height={24}
          alt='Logo'
          loading='eager'
        />
       </div>
       <div>Erkan Altınörs</div>
      </div>
     </a>
    </div>
   </div>
  </nav>
 </div>
</header>
