---
import { Picture } from "astro:assets";
---

<header class="fixed m-2">
 <div>
  <nav class="rounded-full border border-slate-950 bg-orange-500" role="navigation">
   <ul class="flex list-none flex-col">
    <li>
     <a href="/" class="block p-2">
      <Picture src={"/android-chrome-512x512.png"} alt={"Erkan Altinors"} width={20} height={20} />
     </a>
    </li>
   </ul>
  </nav>
 </div>
</header>
