---
import Layout from "@/layouts/Layout.astro";
import BlogPostList from "@/storyblok/BlogPostList.astro";
---

<Layout lang="en" title="Erkan Altinors">
 <section class="pt-2">
  <div class="container max-w-[800px]">
   <div class="flex justify-center">
    <div class="rounded-sm bg-slate-950 px-4 py-4 text-center text-white md:w-full">
     <h1>Erkan Altinors</h1>
     <h2>Frontend Developer</h2>
    </div>
   </div>
  </div>
 </section>
 <BlogPostList />
</Layout>
