---
import InfoTabs from "@/components/InfoTabs";
import SocialMedia from "@/components/SocialMedia";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Erkan Altinors | Front-end Developer">
    <main>
        <section class="h-[100svh] w-full overflow-hidden bg-gradient-to-t from-sky-900 to-black">
            <div class="container">
                <h1 class="mt-5 text-center text-xl text-white md:text-3xl lg:text-4xl xl:text-5xl">Erkan ALTINORS</h1>
                <p class="text-center text-base text-white md:text-lg lg:text-xl xl:text-2xl">Front-end Developer</p>
                <div class="mb-2 flex justify-center">
                    <SocialMedia />
                </div>
                <div class="">
                    <InfoTabs client:load />
                </div>
            </div>
        </section>
    </main>
</Layout>
