---
import Layout from "@/layouts/Layout.astro";
import BlogPostList from "@/storyblok/BlogPostList.astro";
---

<Layout lang="en" title="Erkan Altinors">
 <section class="pt-2">
  <div class="container max-w-[800px]">
   <div class="rounded-md bg-slate-950 py-4 text-center text-white">
    <h1>Erkan Altinors</h1>
    <h2>Frontend Developer</h2>
   </div>
  </div>
 </section>
 <BlogPostList />
</Layout>
