---
import Layout from "@/layouts/Layout.astro";
import Invoice from "@/components/Invoice";
---

<Layout title="Invoice generator">
 <section class="bg-slate-300">
  <div class="container xl:max-w-full">
    <Invoice client:only/>
  </div>
 </section>
</Layout>